/*---------------------------- SECTION HERO ----------------------------*/

.hero {
    background: url(../img/dance_7.jpg) no-repeat;
    background-size: 160%;
    |height: 100px;
    background-position: left;
}

.caja {
    padding: 0px 300px;
    height: 500px;
    text-align: center;
}

.vertical-center {
    min-height: 50%;
    min-height: 50vh;
    display: flex;
    align-items: center;
}

.texto {
    background-color: rgba(0, 0, 0, 0.5);
    color: #cacac8;
    padding: 20px 40px;
}


/*---------------------------- SECTION MENSAJE1 ----------------------------*/

.mensaje1 {
    padding: 50px 0;
    background: url(../img/cubes.png);
    text-align: center;
}

.bloque {
    padding: 0 70px;
}

.mensaje1 hr {
    border-top: 0.1em solid #818181;
}

.mensaje1 h4 {
    font-weight: bolder;
    color: #949597;
    font-size: 23px;
}

.mensaje1 p {
    color: #b8b8b8;
    font-weight: 600;
    font-size: 13px;
}


/*---------------------------- SECTION PROFESORES ----------------------------*/

.profesores {
    background-color: #fff;
    padding: 50px 0;
    text-align: center;
}

.separacion {
    padding-bottom: 50px;
}

.profesores .bloque img {
    width: 100%;
}

.imagen {
    height: 150px;
    width: 200px;
    overflow: hidden;
}

.profesores p {
    text-align: left
}

.profesores h4 {
    text-align: left;
    font-weight: bolder;
}


/*---------------------------- SECTION MENSAJE2----------------------------*/

.mensaje2 {
    padding: 50px 0;
    background: url(../img/cubes.png);
    text-align: center;
}

.mensaje2 h1 {
    font-style: italic;
    font-weight: 500;
}